.App {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

input[type='file'] {
    display: none;
}

.excelLabel {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

input:hover + label,
input:focus + label {
    transform: scale(1.02);
}

input:focus + label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
}

.excelReaderContainer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.navListItem.selected {
    color: #fff;
}

.excelConverterTitle {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.divider {
    border-top: 3px solid black;
    padding-left: 2em;
    padding-right: 2em;
}

.topnav {
    display: flex;
    background-color: #7873f5;
    overflow: hidden;
    justify-content: space-between;
    padding-left: 2em;
}

li {
    list-style-type: none;
}

.navListItems {
    justify-content: space-between;
}

.navTitle {
    margin-top: 1em;
    font-size: 1.25em;
}

.navListItem {
    cursor: pointer;
    float: left;
    display: block;
    padding-top: 0.25em;
    text-align: center;
    padding: 14px 16px;
}

.topnav li:hover {
    color: #fff;
    transition: 0.5ms;
}

.mainDisplayContainer {
    display: flex;
    flex-direction: column;
}

.mainHeader {
    display: flex;
    flex-direction: row;
    background-color: rgb(193, 240, 240);
    justify-content: space-around;
}

.mainTitle {
    font-size: 4em;
}

.mainHeader img {
    height: 200px;
}

.selectSection {
    padding: 2em;
}

.selectionTitleContainer {
    padding-left: 2em;
    padding-right: 2em;
}

.dropsContainer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dropCont {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
}

.lessonContainer {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.sectionTitle {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    padding: 1em;
    display: inline-block;
    border-radius: 8px;
}

.manip {
    background-color: white;
    color: Black;
    border-bottom: 2px black;

}

.routines {
    background-color: rgb(193, 240, 240);
    color: Black;
    border-bottom: 2px black;

}

.extra {
    background-color: white;
    color: Black;
}

.cardRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    padding: 1em;
    width: 500px;
    height: 4em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

.innerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5em;
    font-size: 20px;
}

a {
    color: black !important;
    text-decoration: none !important;
}

.innerCard {
    max-height: 125px;
    max-width: 200px;
    padding-right: 0.5em;
}

.card.Manipulatives {
    background-color: aquamarine;
}

.card.Routines {
    background-color: aliceblue;
}
.card.Extra {
    background-color: darkturquoise;
}

.card.Routines.true {
    border: blue 10px solid;
}
.card.Manipulatives.true {
    border: blue 10px solid;
}

.card.Extra.true {
    border: blue 10px solid;
}
.noExcel {
    text-align: center;
    padding-top: 3em;
}

.moduleButtons {
    display: flex;
    flex-direction: column;
}

.buttonsContainer {
    display: flex;
}

.leftButton {
    margin-right: 1em;
}

.buttonSection {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
}

.card img {
    height: 150px;
    width: 150px;
}

.card div {
    width: 150px;
    padding-top: ;
}

.displayRow {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
}
